/*Main CSS*/

body {
	background: url('http://i0.kym-cdn.com/entries/icons/mobile/000/005/848/Aliens.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.outputContainer {
	background: rgba(255,255,255,.7);
	position:fixed;
	height: 500px;
	width: 80em;
	padding: 15px;  
}

.message {
	height: 400px;
	width: 75em;
    height: 400px;
    width: 100%;
    padding: 4em 0 0 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

/*Twilight Zone Mode aka Make it Dark*/
.twilight-zone-mode {
	background-color: black;
	color: white;
}

/*.white-text {
	color: white;
}*/

/*Make It Bigger*/
.makeItBigger {
	font-size: 2em;
}

.little-bit-of-padding {
	padding-top: 8px;
}

.message .btn {
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
}
