/*Main CSS*/

/*Twilight Zone Mode aka Make it Dark*/
.twilight-zone-mode {
	background-color: black;
	color: white;
}

/*Make It Bigger*/
.makeItBigger {
	font-size: 10em;
}

.outputContainer {
	background:#A2A2A2;
	position:fixed;
	height: 500px;
	width: 80em;  
}

.message {
    padding: 4em 0 0 0;
    overflow-x: hidden;
    overflow-y: scroll;
}